
:root {
  --mainColor: #C59D5F;
  --whiteColor: #FFFFFF;
}

/* Preloader CSS */
/* ================================================= */
.preloader {
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 9999999;
  background-color: transparent;
  transition: 0.9s;
}
.preloader .loader {
  transition: 0.9s;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 45%;
  transform: translateY(-45%);
}
.preloader .loader .loader-outter {
  position: absolute;
  border: 4px solid var(--mainColor);
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader .loader .loader-inner {
  position: absolute;
  border: 4px solid var(--mainColor);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
.preloader .loader span {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  color: #F7D254;
  font-family: var(--titleFontFamily);
  font-size: 20px;
  font-weight: bold;
}
.preloader::before, .preloader::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: -1;
  background: var(--whiteColor);
  transition: 0.9s;
}
.preloader::after {
  left: auto;
  right: 0;
}
.preloader.preloader-deactivate {
  visibility: hidden;
}
.preloader.preloader-deactivate::before {
  width: 0;
}
.preloader.preloader-deactivate::after {
  width: 0;
}
.preloader.preloader-deactivate .loader {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes loader-outter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-outter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loader-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

